<div>
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>The Right Read</h2>
  <p><br><br>
    The Right Read is a project to create a condensed list of the most meaningful
    books I have read so far. In an attempt to keep the list short, these books
    were chosen from the dozens I have really enjoyed (to find that list stay tunned).
  <br><br></p>
  

  <a class="button"  href="http://rsashna.com">
  <i>  Back to the main site </i>
  </a>
</div>
<br><br><br>
</div>
