<div class="jumbo">
  <div class="right tomster"></div>
  <h2>The Right Read</h2>
  <p><br><br>
    The Right Read lists the best books according to audience and genre. Being
    more condensed than the general social book cataloging sites, it makes
    choosing a book easier for all the age groups.
  <br><br></p>
  <!-- {{#link-to "selecting" class="button"}}
    How To
  {{/link-to}} -->
</div>
