<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Find your book</h2>
  <br><br><i>When you make a choice, you change the future.</i><br><br><br><br>
    <!-- I hope you find the perfect book</p> -->
  <!-- {{#link-to "about" class="button"}}
    About Us
  {{/link-to}} -->
  <!-- {{#link-to "selecting" class="button"}}
    Selecting the Right Read
  {{/link-to}} -->

</div>

{{outlet}}

<div>
<br> <br>
  <a class="button"  href="http://rsashna.com">
  <i>  Back to the main site </i>
  </a>


</div>
