<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Selecting the Right Read</h2>
  <p>
    Books are organized into genres and age groups. To select the best
    book for you, use the search bar to narrow the choices.
    <br><br>
    To browse reviews of the featured books or buy the books visit
    <a href='https://www.amazon.ca/' target="_blank">Amazon</a><br><br>
  </p>

  <!-- {{#link-to "about" class="button"}}
    About
  {{/link-to}} -->
</div>
