<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Selecting the Right Read</h2>
  <p>
    <br>
    Book info includes the author's name, the genre it would most likely be
    categorized into, the assumed audience, its rating taken from the GoodReads
    community, and a short description of the story onced clicked on. You can use
    the search bar to narrow the choices according to genre.
    <br><br>
    To browse reviews of the featured books or buy the books visit
    <a href='https://www.amazon.ca/' target="_blank">Amazon</a><br><br>
  </p>

  <!-- {{#link-to "about" class="button"}}
    About
  {{/link-to}} -->

  <div>
  <br> <br>
    <a class="button"  href="http://rsashna.com">
    <i>  Back to the main site </i>
    </a>


  </div>

</div>
